
**/$RECYCLE.BIN
**/System Volume Information

**/__pycache__
**/__pylogs__

*.pyc
*.log

CT2000BX 500SSD1 SCSI Disk Device/*

!CT2000BX 500SSD1 SCSI Disk Device/Lost189_1
CT2000BX 500SSD1 SCSI Disk Device/Lost189_1/Lost

